h1, h2, h3, h4 {
  margin: 0;
  color: #333333; }

.top_sales-item_list, .hot_news-item_list, .article-item_list, .phone_by_char-item_list, .interesting_videos-item_list, .footer_links-item_list {
  margin: 0;
  padding: 0; }

.author_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .author_block .author_image {
    margin-right: 12px;
    border-radius: 24px; }
  .author_block .view_counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto; }
    .author_block .view_counter .counter {
      margin-left: 4px; }

body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 24px; }

.wrapper {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  justify-items: flex-start;
  -ms-grid-columns: minmax(432px, 1200px);
  grid-template-columns: minmax(432px, 1200px);
  -ms-grid-rows: (10)[1fr];
  grid-template-rows: repeat(1fr, 10); }

.nav_links-category {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: (auto)[8];
  grid-template-columns: repeat(8, auto); }
  .nav_links-category--name {
    padding: 12px; }
    .nav_links-category--name:after {
      content: "\f0c4"; }

.top_sales-item_list li {
  display: inline; }
  .top_sales-item_list li a {
    text-decoration: underline; }
    .top_sales-item_list li a:hover {
      color: #333333;
      cursor: pointer; }

.hot_news-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px; }

.hot_news-item {
  padding: 24px; }

.hot_news-item_list li {
  display: inline; }
  .hot_news-item_list li a {
    text-decoration: none; }
    .hot_news-item_list li a:hover {
      color: #333333;
      cursor: pointer; }

.article {
  margin-bottom: 64px; }
  .article-item_list {
    margin: 12px 0 24px 0; }
    .article-item_list li {
      display: inline; }
      .article-item_list li a {
        text-decoration: none; }
        .article-item_list li a:hover {
          color: #333333;
          cursor: pointer; }
  .article-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: (minmax(260px, 1fr))[4];
    grid-template-columns: repeat(4, minmax(260px, 1fr));
    grid-column-gap: 24px; }
    .article-items--article_image {
      position: relative;
      height: 160px;
      width: 100%;
      margin-bottom: 16px; }
    .article-items--image {
      width: 100%;
      height: 100%;
      border-radius: 4px; }
    .article-items--image_title {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 3px 4px 3px 4px;
      color: #ffffff; }
    .article-items--article_description {
      margin: 8px 0 12px 0; }

.see_around {
  background-color: #FFA300; }

.see_all {
  background-color: #673AB7; }

.phone_by_char-item_list li {
  display: inline; }
  .phone_by_char-item_list li a {
    text-decoration: none; }
    .phone_by_char-item_list li a:hover {
      color: #333333;
      cursor: pointer; }

.interesting_videos-item_list li {
  display: inline; }
  .interesting_videos-item_list li a {
    text-decoration: none; }
    .interesting_videos-item_list li a:hover {
      color: #333333;
      cursor: pointer; }

.footer_links-item_list li {
  display: inline; }
  .footer_links-item_list li a {
    text-decoration: none; }
    .footer_links-item_list li a:hover {
      color: #333333;
      cursor: pointer; }
