@font-face {
  font-family: 'GFL';
  src: local("Graphik LC Web Light"), url("../fonts/Graphik LC Web Light.woff") format("woff2"), url("../fonts/Graphik LC Web Light.woff") format("woff"), url("../fonts/Graphik LC Web Light.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Light.woff") format("truetype"); }

@font-face {
  font-family: 'GFM';
  src: local("Graphik LC Web Medium"), url("../fonts/Graphik LC Web Medium.woff") format("woff2"), url("../fonts/Graphik LC Web Medium.woff") format("woff"), url("../fonts/Graphik LC Web Medium.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Medium.woff") format("truetype"); }

@font-face {
  font-family: 'GFR';
  src: local("Graphik LC Web Regular"), url("../fonts/Graphik LC Web Regular.woff") format("woff2"), url("../fonts/Graphik LC Web Regular.woff") format("woff"), url("../fonts/Graphik LC Web Regular.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Regular.woff") format("truetype"); }

@font-face {
  font-family: 'GFS';
  src: local("Graphik LC Web Semibold"), url("../fonts/Graphik LC Web Semibold.woff") format("woff2"), url("../fonts/Graphik LC Web Semibold.woff") format("woff"), url("../fonts/Graphik LC Web Semibold.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Semibold.woff") format("truetype"); }

@font-face {
  font-family: 'GFB';
  src: local("Graphik LC Web Black"), url("../fonts/Graphik LC Web Black.woff") format("woff2"), url("../fonts/Graphik LC Web Black.woff") format("woff"), url("../fonts/Graphik LC Web Black.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Black.woff") format("truetype"); }

h1, h2, h3, h4, ul, button, a, .article-item_list, .footer_links-link_list, .footer_links-item_list {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, ul, button {
  font-family: "GFS", sans-serif;
  color: #333333; }

h1 {
  font-size: 1.6em;
  line-height: 1.2em; }

h3 {
  font-size: 1.2em;
  line-height: 1.3em; }

p {
  font-family: "GFL", sans-serif;
  color: #333333;
  line-height: 1.6em;
  font-size: .95em;
  letter-spacing: .3px; }

a {
  font-family: "GFR", sans-serif;
  text-decoration: none;
  color: #333333; }
  a:hover {
    cursor: pointer;
    color: #000000; }

button, input {
  border: none;
  font-family: "GFR", sans-serif; }

ul {
  list-style: none; }

.phone_info-content_wrapper--main_phone_image, .phone_info-content_wrapper--additional_image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

.other_photo-container img, .competitor_block-image_block img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

.nav_links-category--name, .footer_links-link_list ul > li, .characteristic-header, .characteristic-list_item--name {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.author_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .author_block .ls {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .author_block .ls .author_image {
      display: block;
      height: 100%;
      text-align: center; }
  .author_block .author_name {
    font-family: "GFL", sans-serif;
    font-size: .85em;
    font-weight: 300;
    color: #757575; }

.image_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 158px;
  width: 280px;
  border-radius: 4px;
  overflow: hidden; }

.bg_image {
  height: 100%;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  -o-transition: transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s; }

.nav_menu_icon {
  margin-right: 16px;
  vertical-align: baseline;
  font-size: 12px;
  color: #757575; }

.font_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.icon-s {
  font-size: .9em;
  vertical-align: baseline; }

.icon-xs {
  font-size: .7em;
  vertical-align: baseline; }

.icon-xxs {
  font-size: .6em;
  vertical-align: baseline; }

.nav_search_icon {
  font-size: 13px;
  margin: 4px 6px 0 0; }

.compare_link_icon {
  margin-right: 8px;
  vertical-align: middle; }

.button_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.compare_links {
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .compare_links:hover {
    color: #FFA300; }

.overview {
  font-size: .85em;
  font-family: "GFR", sans-serif;
  background-color: #FFA300; }

.compilation {
  font-size: .85em;
  font-family: "GFR", sans-serif;
  background-color: #673AB7; }

.raiting_stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.block_header {
  margin-bottom: 16px; }

.article-items--view_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-items--view_counter .counter {
    margin-left: 4px;
    color: #757575;
    font-family: "GFL", sans-serif;
    font-weight: 300;
    font-size: .8em; }

.nav_links {
  -webkit-box-shadow: 0 8px 16px -8px rgba(51, 51, 51, 0.15);
  box-shadow: 0 8px 16px -8px rgba(51, 51, 51, 0.15);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 12; }
  .nav_links-search_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #333333; }
    .nav_links-search_bar--wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      -ms-grid-columns: (256px)[5];
      grid-template-columns: repeat(5, 256px);
      grid-column-gap: 12px;
      margin: 24px 0; }
    .nav_links-search_bar--wrapper_content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-column: 1 / 6; }
    .nav_links-search_bar--logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .nav_links-search_bar--search {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 32px; }
    .nav_links-search_bar--search_input {
      height: 40px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 12px;
      width: 400px; }
      .nav_links-search_bar--search_input::-webkit-input-placeholder {
        color: #cccccc; }
      .nav_links-search_bar--search_input:-ms-input-placeholder {
        color: #cccccc; }
      .nav_links-search_bar--search_input::-ms-input-placeholder {
        color: #cccccc; }
      .nav_links-search_bar--search_input::placeholder {
        color: #cccccc; }
    .nav_links-search_bar--search_select {
      background-color: #cccccc;
      padding: 0 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 40px; }
      .nav_links-search_bar--search_select:hover {
        background-color: #FFA300;
        cursor: pointer;
        color: #ffffff; }
        .nav_links-search_bar--search_select:hover > * {
          color: #ffffff; }
      .nav_links-search_bar--search_select .nav_button_select_icon {
        font-size: 12px;
        margin: 4px 0 0 8px; }
    .nav_links-search_bar--search_button {
      padding: 0 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
      .nav_links-search_bar--search_button:hover {
        background-color: #FFA300;
        cursor: pointer;
        color: #ffffff; }
        .nav_links-search_bar--search_button:hover > {
          color: #ffffff; }
    .nav_links-search_bar--link_deffered {
      margin-right: 16px; }
    .nav_links-search_bar--enter_button {
      height: 40px;
      padding: 0 16px;
      margin-left: auto;
      border-radius: 4px; }
      .nav_links-search_bar--enter_button:hover {
        background-color: #FFA300;
        color: #ffffff;
        cursor: pointer; }
  .nav_links-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff; }
    .nav_links-category--wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      -ms-grid-columns: (256px)[5];
      grid-template-columns: repeat(5, 256px);
      grid-column-gap: 12px; }
    .nav_links-category--categories {
      display: -ms-grid;
      display: grid;
      grid-auto-flow: column; }
    .nav_links-category--item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-right: 1px solid #cccccc;
      background-color: #ffffff; }
      .nav_links-category--item:nth-child(1) {
        border-left: 1px solid #cccccc; }
      .nav_links-category--item:focus {
        z-index: 12; }
      .nav_links-category--item:hover {
        background-color: #333333;
        cursor: pointer; }
        .nav_links-category--item:hover > * {
          color: #ffffff; }
    .nav_links-category--name {
      padding: 12px 8px 12px 16px;
      color: #757575; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .article-wrapper {
    margin: 64px 0; }
  .article-item_list {
    margin: 0 0 32px 0; }
    .article-item_list li {
      display: inline-block; }
      .article-item_list li:not(:first-child) {
        margin-left: 16px; }
      .article-item_list li a {
        text-decoration: none;
        color: #4141BE; }
        .article-item_list li a:hover {
          color: #1C196F;
          cursor: pointer; }
  .article-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: (280px)[4];
    grid-template-columns: repeat(4, 280px);
    grid-column-gap: 24px; }
    .article-items--article_author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .article-items--article_image {
      position: relative;
      height: 160px;
      width: 100%;
      margin-bottom: 16px; }
    .article-items--image {
      width: 100%;
      height: 100%;
      border-radius: 4px; }
    .article-items--image_title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4px 8px;
      border-radius: 0 3px 0 3px;
      color: #ffffff; }
    .article-items--article_header {
      font-family: "GFS", sans-serif;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box; }
    .article-items--article_description {
      margin: 8px 0 16px 0;
      height: 48px;
      color: #757575;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box; }
    .article-items--view_counter {
      margin-left: auto; }

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #333333; }
  .footer_links-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: (280px)[4];
    grid-template-columns: repeat(4, 280px);
    grid-column-gap: 24px;
    margin: 64px 0; }
    .footer_links-wrapper--wrapper_content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      grid-column: 1 / 5; }
  .footer_links-copyright_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 24px;
    border-top: 1px solid #555555; }
  .footer_links-link_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: (220px)[4] auto;
    grid-template-columns: repeat(4, 220px) auto;
    grid-column-gap: 24px;
    margin-bottom: 32px; }
    .footer_links-link_list li {
      list-style: none;
      display: block;
      margin-bottom: 8px; }
      .footer_links-link_list li:not(:first-child) {
        margin-left: 0; }
      .footer_links-link_list li a {
        text-decoration: none;
        color: #ffffff; }
        .footer_links-link_list li a:hover {
          color: #FFA300;
          cursor: pointer; }
    .footer_links-link_list ul > li {
      font-family: "GFL", sans-serif; }
    .footer_links-link_list--item_header {
      color: #ffffff;
      margin-bottom: 16px; }
    .footer_links-link_list--social_links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .footer_links-link_list--social_links > :not(:last-child) {
        margin-bottom: 12px; }
  .footer_links-copyright {
    font-family: "GFL", sans-serif;
    color: #757575;
    font-size: .9em; }
  .footer_links-item_list {
    margin-left: auto;
    font-size: .9em; }
    .footer_links-item_list li {
      display: inline-block; }
      .footer_links-item_list li:not(:first-child) {
        margin-left: 0; }
      .footer_links-item_list li a {
        text-decoration: none;
        color: #ffffff; }
        .footer_links-item_list li a:hover {
          color: #FFA300;
          cursor: pointer; }
    .footer_links-item_list--link_heart {
      margin-right: 8px;
      vertical-align: middle; }
    .footer_links-item_list li:not(:last-child) {
      padding-right: 24px;
      border-right: 1px solid #757575; }
    .footer_links-item_list li:not(:first-child) {
      padding-left: 24px; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .breadcrumbs-content_wrapper {
    margin: 32px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (256px)[5];
    grid-template-columns: repeat(5, 256px);
    grid-column-gap: 12px; }
    .breadcrumbs-content_wrapper--content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-column: 1 / 6;
      color: #757575;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .breadcrumbs-content_wrapper--content a {
        color: #757575;
        font-family: "GFL", sans-serif;
        letter-spacing: .3px;
        font-size: .9em; }
        .breadcrumbs-content_wrapper--content a:hover {
          color: #333333; }
      .breadcrumbs-content_wrapper--content > *:not(:last-child) {
        margin-right: 4px; }

.main_block {
  background-color: #F5F6F9; }

.breadcrumbs-content_wrapper--external_link {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .breadcrumbs-content_wrapper--external_link .icon-foreign {
    margin-right: 4px; }

.breadcrumbs-content_wrapper--breadcrumb_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .breadcrumbs-content_wrapper--breadcrumb_links > *:not(:last-child) {
    margin-right: 4px; }

.phone_info-content_wrapper--content_head {
  padding: 20px 24px;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone_info-content_wrapper--title {
  margin-bottom: 16px; }

.phone_info-content_wrapper--description {
  font-size: .9em;
  font-family: "GFR", sans-serif;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .phone_info-content_wrapper--description > *:not(:last-child) {
    margin-right: 12px; }
  .phone_info-content_wrapper--description > *:first-child {
    padding-right: 12px;
    border-right: 1px solid #e6e6e6; }
  .phone_info-content_wrapper--description > *:last-child {
    margin-left: 12px; }

.phone_info-content_wrapper--description_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.phone_info-content_wrapper--description_primary {
  font-family: "GFL", sans-serif;
  color: #757575; }

.phone_info-content_wrapper--description_secondary {
  margin-left: 4px;
  color: #555555; }

.phone_info-content_wrapper--head_buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone_info-content_wrapper--button_favorite {
  margin-right: 16px; }
  .phone_info-content_wrapper--button_favorite .icon-heart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em; }

.phone_info-content_wrapper--button_compare .icon-plus {
  font-size: 1em; }

.phone_info-content_wrapper--button_title {
  margin-left: 6px; }

.phone_info-content_wrapper--content_body {
  grid-template-areas: "image info";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 323px 12px 323px 12px 323px 12px 323px;
  grid-template-columns: repeat(4, 323px);
  grid-column-gap: 12px; }

.phone_info-content_wrapper--image_block {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  border-right: 1px solid #e6e6e6; }

.phone_info-content_wrapper--main_image_block {
  padding: 24px; }

.phone_info-content_wrapper--main_image_container {
  position: relative;
  height: 395px;
  width: 274px; }

.phone_info-content_wrapper--additional_images {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .phone_info-content_wrapper--additional_images > *:not(:last-child) {
    margin-right: 8px; }

.phone_info-content_wrapper--additional_image_block {
  position: relative;
  border: 1px solid #e6e6e6;
  padding: 12px; }

.phone_info-content_wrapper--additional_image_container {
  overflow: hidden;
  width: 60px;
  height: 80px;
  position: relative; }

.phone_info-content_wrapper--info_block {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: info;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  padding: 24px; }

.phone_info-content_wrapper--phone_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 28px;
  border-bottom: 1px solid #e6e6e6; }

.phone_info-content_wrapper--user_feedback {
  padding-right: 32px;
  border-right: 1px solid #e6e6e6; }

.phone_info-content_wrapper--expert_feedback {
  padding-left: 32px; }

.phone_info-content_wrapper--char_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.phone_info-content_wrapper--phone_color_block {
  margin-right: 16px; }

.phone_info-content_wrapper--characteristics {
  padding-top: 24px; }

.phone_info-content_wrapper--characteristics_all {
  font-size: .9em;
  margin-left: auto;
  color: #4141BE; }
  .phone_info-content_wrapper--characteristics_all:hover {
    color: #1C196F; }

.phone_info-content_wrapper--characteristics_header_block {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone_info-content_wrapper--characteristics_os {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px; }

.phone_info-content_wrapper--characteristics_os_logo {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone_info-content_wrapper--characteristics_os_name {
  font-family: "GFL", sans-serif;
  color: #757575; }

.phone_info-content_wrapper--characteristics_detals_block {
  padding: 24px;
  background-color: #e6e6e6; }

.phone_info-content_wrapper--characteristics_detals {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: (auto)[3] 1fr;
  grid-template-columns: repeat(3, auto) 1fr;
  grid-column-gap: 24px; }

.phone_info-content_wrapper--other_photos {
  margin-top: 32px; }

.phone_info-content_wrapper--other_header {
  margin-bottom: 16px; }

.phone_info-content_wrapper--other_photo_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: (auto)[8];
  grid-template-columns: repeat(8, auto);
  grid-column-gap: 24px; }

.phone_info-content_wrapper--other_photo_counter {
  margin-left: 4px; }

.phone_info-content_wrapper--other_photo_name {
  text-align: center; }

.phone_article-content_wrapper--content {
  padding: 24px; }

.phone_article-content_wrapper--article_header {
  margin-bottom: 16px; }

.phone_article-content_wrapper--article_more {
  text-decoration: underline; }

.phone_competitors-content_wrapper--content {
  padding: 24px; }

.phone_competitors-content_wrapper--header {
  padding-bottom: 24px; }

.phone_competitors-content_wrapper--phone_name {
  margin-left: 6px; }

.phone_competitors-content_wrapper--competitors {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 24px; }

.main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main_section-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (256px)[5];
    grid-template-columns: repeat(5, 256px);
    grid-column-gap: 12px;
    margin-bottom: 32px; }
  .main_section-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    background-color: #ffffff; }

.phone_page_button, .phone_info-content_wrapper--button_favorite, .phone_info-content_wrapper--button_compare {
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #4141BE;
  padding: 10px 10px 8px 10px;
  color: #4141BE; }
  .phone_page_button:hover, .phone_info-content_wrapper--button_favorite:hover, .phone_info-content_wrapper--button_compare:hover {
    cursor: pointer;
    background-color: #4141BE;
    color: #ffffff; }

.phone_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 4px; }
  .phone_stats-primary {
    margin-right: 8px;
    font-size: 1.8em; }
  .phone_stats-secondary {
    font-family: "GFL", sans-serif;
    color: #757575; }
  .phone_stats-link {
    font-family: "GFL", sans-serif;
    font-size: 0.8em;
    text-decoration: underline;
    color: #757575; }

.phone_select-block--label {
  font-family: "GFL", sans-serif;
  font-size: .85em;
  margin-bottom: 6px;
  color: #757575; }

.phone_select-block--select_button {
  padding: 10px 8px 8px 8px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: .85em;
  width: 160px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .phone_select-block--select_button .icon-down-chevron {
    margin-left: auto; }
  .phone_select-block--select_button:hover {
    cursor: pointer;
    color: #4141BE;
    border: 1px solid #4141BE; }

.characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .characteristic-header {
    margin-bottom: 16px;
    max-width: 283px; }
  .characteristic-list {
    font-family: "GFL", sans-serif;
    font-size: .9em;
    max-width: 283px; }
    .characteristic-list > *:not(:last-child) {
      margin-bottom: 12px; }
  .characteristic-list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .characteristic-list_item--icon {
      margin-right: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .characteristic-list_item--name {
      max-width: 283px; }

.other_photo-block {
  font-family: "GFR", sans-serif;
  font-size: .9em;
  color: #757575; }

.other_photo-photo {
  padding: 12px;
  border: 1px solid #e6e6e6;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.other_photo-container {
  overflow: hidden;
  width: 60px;
  height: 80px;
  position: relative; }

.competitor_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 16px;
  border: 1px solid #e6e6e6; }
  .competitor_block-image_block {
    overflow: hidden;
    width: 60px;
    height: 80px;
    position: relative; }
  .competitor_block-info_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 16px; }
  .competitor_block-competitor_name {
    font-family: "GFR", sans-serif;
    color: #757575;
    margin-bottom: 6px; }
  .competitor_block-competitor_price {
    font-family: "GFS", sans-serif;
    color: #333333;
    font-size: 1.2em; }
  .competitor_block-competitor_challenge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .9em;
    margin-top: auto; }
    .competitor_block-competitor_challenge .icon-plus {
      margin-right: 4px; }
