@font-face {
  font-family: 'GFL';
  src: local("Graphik LC Web Light"), url("../fonts/Graphik LC Web Light.woff") format("woff2"), url("../fonts/Graphik LC Web Light.woff") format("woff"), url("../fonts/Graphik LC Web Light.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Light.woff") format("truetype"); }

@font-face {
  font-family: 'GFM';
  src: local("Graphik LC Web Medium"), url("../fonts/Graphik LC Web Medium.woff") format("woff2"), url("../fonts/Graphik LC Web Medium.woff") format("woff"), url("../fonts/Graphik LC Web Medium.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Medium.woff") format("truetype"); }

@font-face {
  font-family: 'GFR';
  src: local("Graphik LC Web Regular"), url("../fonts/Graphik LC Web Regular.woff") format("woff2"), url("../fonts/Graphik LC Web Regular.woff") format("woff"), url("../fonts/Graphik LC Web Regular.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Regular.woff") format("truetype"); }

@font-face {
  font-family: 'GFS';
  src: local("Graphik LC Web Semibold"), url("../fonts/Graphik LC Web Semibold.woff") format("woff2"), url("../fonts/Graphik LC Web Semibold.woff") format("woff"), url("../fonts/Graphik LC Web Semibold.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Semibold.woff") format("truetype"); }

@font-face {
  font-family: 'GFB';
  src: local("Graphik LC Web Black"), url("../fonts/Graphik LC Web Black.woff") format("woff2"), url("../fonts/Graphik LC Web Black.woff") format("woff"), url("../fonts/Graphik LC Web Black.eot") format("embedded-opentype"), url("../fonts/Graphik LC Web Black.woff") format("truetype"); }

h1, h2, h3, h4, ul, button, a, .article-item_list, .footer_links-link_list, .footer_links-item_list {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, ul, button {
  font-family: "GFS", sans-serif;
  color: #333333; }

h1 {
  font-size: 1.6em;
  line-height: 1.2em; }

h3 {
  font-size: 1.2em;
  line-height: 1.3em; }

p {
  font-family: "GFL", sans-serif;
  color: #333333;
  line-height: 1.6em;
  font-size: .95em;
  letter-spacing: .3px; }

a {
  font-family: "GFR", sans-serif;
  text-decoration: none;
  color: #333333; }
  a:hover {
    cursor: pointer;
    color: #000000; }

button, input {
  border: none;
  font-family: "GFR", sans-serif; }

ul {
  list-style: none; }

.product_information-content_wrapper--phone_image img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

.nav_links-category--name, .footer_links-link_list ul > li {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.author_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .author_block .ls {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .author_block .ls .author_image {
      display: block;
      height: 100%;
      text-align: center; }
  .author_block .author_name {
    font-family: "GFL", sans-serif;
    font-size: .85em;
    font-weight: 300;
    color: #757575; }

.image_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 158px;
  width: 280px;
  border-radius: 4px;
  overflow: hidden; }

.bg_image {
  height: 100%;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  -o-transition: transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s; }

.nav_menu_icon {
  margin-right: 16px;
  vertical-align: baseline;
  font-size: 12px;
  color: #757575; }

.font_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.icon-xs {
  font-size: .7em;
  vertical-align: baseline; }

.icon-xxs {
  font-size: .6em;
  vertical-align: baseline; }

.nav_search_icon {
  font-size: 13px;
  margin: 4px 6px 0 0; }

.compare_link_icon {
  margin-right: 8px;
  vertical-align: middle; }

.compare_links {
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .compare_links:hover {
    color: #FFA300; }

.overview {
  font-size: .85em;
  font-family: "GFR", sans-serif;
  background-color: #FFA300; }

.compilation {
  font-size: .85em;
  font-family: "GFR", sans-serif;
  background-color: #673AB7; }

.raiting_stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.block_header {
  margin-bottom: 16px; }

.article-items--view_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-items--view_counter .counter {
    margin-left: 4px;
    color: #757575;
    font-family: "GFL", sans-serif;
    font-weight: 300;
    font-size: .8em; }

.nav_links {
  -webkit-box-shadow: 0 8px 16px -8px rgba(51, 51, 51, 0.15);
  box-shadow: 0 8px 16px -8px rgba(51, 51, 51, 0.15);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 12; }
  .nav_links-search_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #333333; }
    .nav_links-search_bar--wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      -ms-grid-columns: (256px)[5];
      grid-template-columns: repeat(5, 256px);
      grid-column-gap: 12px;
      margin: 24px 0; }
    .nav_links-search_bar--wrapper_content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-column: 1 / 6; }
    .nav_links-search_bar--logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .nav_links-search_bar--search {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 32px; }
    .nav_links-search_bar--search_input {
      height: 40px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 12px;
      width: 400px; }
      .nav_links-search_bar--search_input::-webkit-input-placeholder {
        color: #cccccc; }
      .nav_links-search_bar--search_input:-ms-input-placeholder {
        color: #cccccc; }
      .nav_links-search_bar--search_input::-ms-input-placeholder {
        color: #cccccc; }
      .nav_links-search_bar--search_input::placeholder {
        color: #cccccc; }
    .nav_links-search_bar--search_select {
      background-color: #cccccc;
      padding: 0 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 40px; }
      .nav_links-search_bar--search_select:hover {
        background-color: #FFA300;
        cursor: pointer;
        color: #ffffff; }
        .nav_links-search_bar--search_select:hover > * {
          color: #ffffff; }
      .nav_links-search_bar--search_select .nav_button_select_icon {
        font-size: 12px;
        margin: 4px 0 0 8px; }
    .nav_links-search_bar--search_button {
      padding: 0 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
      .nav_links-search_bar--search_button:hover {
        background-color: #FFA300;
        cursor: pointer;
        color: #ffffff; }
        .nav_links-search_bar--search_button:hover > {
          color: #ffffff; }
    .nav_links-search_bar--link_deffered {
      margin-right: 16px; }
    .nav_links-search_bar--enter_button {
      height: 40px;
      padding: 0 16px;
      margin-left: auto;
      border-radius: 4px; }
      .nav_links-search_bar--enter_button:hover {
        background-color: #FFA300;
        color: #ffffff;
        cursor: pointer; }
  .nav_links-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff; }
    .nav_links-category--wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      -ms-grid-columns: (256px)[5];
      grid-template-columns: repeat(5, 256px);
      grid-column-gap: 12px; }
    .nav_links-category--categories {
      display: -ms-grid;
      display: grid;
      grid-auto-flow: column; }
    .nav_links-category--item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-right: 1px solid #cccccc;
      background-color: #ffffff; }
      .nav_links-category--item:nth-child(1) {
        border-left: 1px solid #cccccc; }
      .nav_links-category--item:focus {
        z-index: 12; }
      .nav_links-category--item:hover {
        background-color: #333333;
        cursor: pointer; }
        .nav_links-category--item:hover > * {
          color: #ffffff; }
    .nav_links-category--name {
      padding: 12px 8px 12px 16px;
      color: #757575; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .article-wrapper {
    margin: 64px 0; }
  .article-item_list {
    margin: 0 0 32px 0; }
    .article-item_list li {
      display: inline-block; }
      .article-item_list li:not(:first-child) {
        margin-left: 16px; }
      .article-item_list li a {
        text-decoration: none;
        color: #4141BE; }
        .article-item_list li a:hover {
          color: #1C196F;
          cursor: pointer; }
  .article-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: (280px)[4];
    grid-template-columns: repeat(4, 280px);
    grid-column-gap: 24px; }
    .article-items--article_author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .article-items--article_image {
      position: relative;
      height: 160px;
      width: 100%;
      margin-bottom: 16px; }
    .article-items--image {
      width: 100%;
      height: 100%;
      border-radius: 4px; }
    .article-items--image_title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4px 8px;
      border-radius: 0 3px 0 3px;
      color: #ffffff; }
    .article-items--article_header {
      font-family: "GFS", sans-serif;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box; }
    .article-items--article_description {
      margin: 8px 0 16px 0;
      height: 48px;
      color: #757575;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box; }
    .article-items--view_counter {
      margin-left: auto; }

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #333333; }
  .footer_links-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: (280px)[4];
    grid-template-columns: repeat(4, 280px);
    grid-column-gap: 24px;
    margin: 64px 0; }
    .footer_links-wrapper--wrapper_content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      grid-column: 1 / 5; }
  .footer_links-copyright_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 24px;
    border-top: 1px solid #555555; }
  .footer_links-link_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: (220px)[4] auto;
    grid-template-columns: repeat(4, 220px) auto;
    grid-column-gap: 24px;
    margin-bottom: 32px; }
    .footer_links-link_list li {
      list-style: none;
      display: block;
      margin-bottom: 8px; }
      .footer_links-link_list li:not(:first-child) {
        margin-left: 0; }
      .footer_links-link_list li a {
        text-decoration: none;
        color: #ffffff; }
        .footer_links-link_list li a:hover {
          color: #FFA300;
          cursor: pointer; }
    .footer_links-link_list ul > li {
      font-family: "GFL", sans-serif; }
    .footer_links-link_list--item_header {
      color: #ffffff;
      margin-bottom: 16px; }
    .footer_links-link_list--social_links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .footer_links-link_list--social_links > :not(:last-child) {
        margin-bottom: 12px; }
  .footer_links-copyright {
    font-family: "GFL", sans-serif;
    color: #757575;
    font-size: .9em; }
  .footer_links-item_list {
    margin-left: auto;
    font-size: .9em; }
    .footer_links-item_list li {
      display: inline-block; }
      .footer_links-item_list li:not(:first-child) {
        margin-left: 0; }
      .footer_links-item_list li a {
        text-decoration: none;
        color: #ffffff; }
        .footer_links-item_list li a:hover {
          color: #FFA300;
          cursor: pointer; }
    .footer_links-item_list--link_heart {
      margin-right: 8px;
      vertical-align: middle; }
    .footer_links-item_list li:not(:last-child) {
      padding-right: 24px;
      border-right: 1px solid #757575; }
    .footer_links-item_list li:not(:first-child) {
      padding-left: 24px; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .breadcrumbs-content_wrapper {
    margin: 32px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (256px)[5];
    grid-template-columns: repeat(5, 256px);
    grid-column-gap: 12px; }
    .breadcrumbs-content_wrapper--content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-column: 1 / 6;
      color: #757575; }
      .breadcrumbs-content_wrapper--content a {
        color: #757575;
        font-family: "GFL", sans-serif;
        letter-spacing: .3px;
        font-size: .9em; }
        .breadcrumbs-content_wrapper--content a:hover {
          color: #333333; }
      .breadcrumbs-content_wrapper--content > *:not(:last-child) {
        margin-right: 4px; }

.main_block {
  background-color: #F5F6F9; }

.product_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .product_information-content_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (256px)[5];
    grid-template-columns: repeat(5, 256px);
    grid-column-gap: 12px; }
    .product_information-content_wrapper--content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-column: 1 / 6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      background-color: #ffffff;
      padding: 24px 16px; }
    .product_information-content_wrapper--raiting_wrapper {
      margin-left: 16px; }
    .product_information-content_wrapper--raiting_header {
      margin-bottom: 12px; }
    .product_information-content_wrapper--raiting_title {
      font-family: "GFL", sans-serif;
      margin-right: 8px; }
    .product_information-content_wrapper--phone_image {
      position: relative;
      height: 80px;
      width: 80px; }
    .product_information-content_wrapper--phone_raiting {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
