%mp0
    margin: 0
    padding: 0

@mixin item_list($td, $hover_color)
    @extend %mp0
    li
        display: inline
        &:not(:first-child)
            margin-left: 16px
        a
            text-decoration: $td
            &:hover
                color: $hover_color
                cursor: pointer

@mixin new_grid($row, $column, $gap_column)
    display: grid
    grid-template-rows: $row
    grid-template-columns: $column
    grid-column-gap: $gap_column

.author_block
    display: flex
    flex-direction: row
    align-items: center
    .author_image
        margin-right: 12px
        border-radius: 24px
    .view_counter
        display: flex
        flex-direction: row
        margin-left: auto
        .counter
            margin-left: 4px