%mp0
    margin: 0
    padding: 0

// body
//     font-family: 'GF', sans-serif

h1,h2,h3,h4,ul, button
    @extend %mp0
    font-family: $GF
    color: $grey33

h1
    font-size: 1.6em
    line-height: 1.2em

h3
    font-size: 1.2em
    line-height: 1.3em

p
    font-family: $GF
    color: $grey33
    line-height: 1.5em
    font-size: 1em

a
    @extend %mp0
    font-family: $GR
    text-decoration: none
    color: $grey33
    &:hover
        cursor: pointer
        color: $grey00

button, input
    border: none
    font-family: $GF



@mixin item_list($td:null, $hc:null, $lc:null, $mb:null, $pr:null, $wc:null, $ml:null, $ls:null, $d:null)
    @extend %mp0
    li
        list-style: $ls
        @if $d == null
            display: inline-block
        @else
            display: $d
        margin-bottom: $mb
        &:not(:last-child)
            padding-right: $pr
        &:not(:first-child)
            @if $ml == null
                margin-left: 16px
            @else
                margin-left: $ml
        a
            white-space: $wc
            @if $td==null
                text-decoration: none
            @else
                text-decoration: $td
                &:hover
                    text-decoration: none
            @if $lc==null
                color: $blue
            @else
                color: $lc
            &:hover
                @if $hc==null
                    color: $dark_blue
                @else
                    color: $hc
                cursor: pointer

%image_center
    img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        max-width: 100%
        max-height: 100%

%ellips
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

%flex_center
    display: flex
    justify-content: center

@mixin flex_display($fd: null, $jc: null, $ai: null)
    display: flex
    flex-direction: $fd
    justify-content: $jc
    align-items: $ai

@mixin pos_abs($t:null, $r:null, $b:null, $l:null)
    position: absolute
    top: $t
    right: $r
    bottom: $b
    left: $l

@mixin new_grid($row, $column, $gap_column)
    display: grid
    grid-template-rows: $row
    grid-template-columns: $column
    grid-column-gap: $gap_column

@mixin pom($l)
    overflow: hidden
    -webkit-line-clamp: $l
    -webkit-box-orient: vertical
    text-overflow: ellipsis
    display: -webkit-box

.author_block
    display: flex
    flex-direction: row
    align-items: center
    .ls
        height: 24px
        width: 24px
        border-radius: 50%
        margin-right: 8px
        overflow: hidden
        display: flex
        justify-content: center
        .author_image
            display: block
            height: 100%
            text-align: center
    .author_name
        font-family: $GL
        font-size: .95em
        font-weight: 300
        color: $grey75

.image_block
    @include flex_display($jc: center)
    height: 158px
    width: 280px
    border-radius: $main_border_radius
    overflow: hidden
.bg_image
    height: 100%
    transition: transform .6s

.nav_menu_icon
    margin-right: 16px
    vertical-align: baseline
    font-size: 12px
    color: $grey75

.font_icon
    @include flex_display($jc: center, $ai:center)

.nav_search_icon
    font-size: 13px
    margin: 4px 6px 0 0

.compare_link_icon
    margin-right: 8px
    vertical-align: middle

.compare_links
    color: $white
    text-decoration: none
    display: flex
    &:hover
        color: $orange

.overview
    font-size: 1em
    font-family: $GR
    background-color: $orange

.compilation
    font-size: 1em
    font-family: $GR
    background-color: $violet

.raiting_stars
    @include flex_display($ai:center)

.block_header
    margin-bottom: 16px

%view_counter
    display: flex
    flex-direction: row
    align-items: center
    .counter
        margin-left: 4px
        color: $grey75
        font-family: $GL
        font-weight: 300
        font-size: .9em