@font-face 
    font-family: "Graphik"
    font-style: normal
    font-weight: 700
    src: url("./fonts/Graphik-Bold-Web.ttf") format('truetype')

// @font-face 
//     font-family: "Graphik"
//     font-weight: 600
//     src: local('Graphik'), url("./fonts/Graphik-Medium-Web.ttf") format('truetype')

// @font-face 
//     font-family: "Graphik"
//     font-weight: 400
//     src: local('Graphik'), url("./fonts/Graphik-Regular-Web.ttf") format('truetype')

h1,h2,h3,h4
    margin: 0
    font-family: 'Graphik'
    font-weight: 600
    color: $grey33