@font-face
    font-family: 'GF'
    src: local('Graphik-Light'), local('Graphik-Light'), url('../fonts/Graphic-Light.woff') format('woff'),
    url('../fonts/Graphic-Light.eot') format('embedded-opentype')
    font-weight: light
    font-style: normal

@font-face
    font-family: 'GF'
    src: local('Graphic-Medium'), local('Graphic-Medium'), url('../fonts/Graphic-Medium.woff') format('woff'),
    url('../fonts/Graphic-Medium.eot') format('embedded-opentype')
    font-weight: medium
    font-style: normal

@font-face
    font-family: 'GF'
    src: local('Graphic-Regular'), local('Graphic-Regular'), url('../fonts/Graphic-Regular.woff') format('woff'),
    url('../fonts/Graphic-Regular.eot') format('embedded-opentype')
    font-weight: regular
    font-style: normal

// @font-face
//     font-family: 'source_sans_probold'
//     src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
//          url('../fonts/sourcesanspro-bold-webfont.woff') format('woff')
//     font-weight: normal
//     font-style: normal

// @font-face
//     font-family: 'source_sans_prolight'
//     src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
//          url('../fonts/sourcesanspro-light-webfont.woff') format('woff')
//     font-weight: normal
//     font-style: normal

// @font-face
//     font-family: 'source_sans_proregular'
//     src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
//          url('../fonts/sourcesanspro-regular-webfont.woff') format('woff')
//     font-weight: normal
//     font-style: normal

// @font-face
//     font-family: 'source_sans_prosemibold'
//     src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
//          url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff')
//     font-weight: normal
//     font-style: normal

// @font-face
//     font-family: 'SSP_Black'
//     src: local('SSP_Black'), local('SSP Black'), url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
//     url('../fonts/sourcesanspro-black-webfont.woff') format('woff')
//     font-weight: normal
//     font-style: normal