@font-face
    font-family: 'GF'
    src: local('Graphik-Light'), local('Graphik-Light'), url('../fonts/Graphic-Light.woff') format('woff'),
    url('../fonts/Graphic-Light.eot') format('embedded-opentype')
    font-weight: light
    font-style: normal

@font-face
    font-family: 'GF'
    src: local('Graphic-Medium'), local('Graphic-Medium'), url('../fonts/Graphic-Medium.woff') format('woff'),
    url('../fonts/Graphic-Medium.eot') format('embedded-opentype')
    font-weight: medium
    font-style: normal

@font-face
    font-family: 'GF'
    src: local('Graphic-Regular'), local('Graphic-Regular'), url('../fonts/Graphic-Regular.woff') format('woff'),
    url('../fonts/Graphic-Regular.eot') format('embedded-opentype')
    font-weight: regular
    font-style: normal