$grey33: #333333
$white: #ffffff
$orange: #FFA300
$violet: #673AB7
$grey75: #757575

$main_border_radius: 4px
$header_bottom_margin: 64px
$itemList_bottom_margin: 12px 0 24px 0

$break_large: 1156px
$break_medium: 880px
$break_small: 586px