$grey33: #333333
$grey75: #757575
$greyE6: #e6e6e6
$white: #ffffff
$orange: #FFA300
$violet: #673AB7
$bg_blue: #F5F6F9
$blue: #4141BE
$blue_link: #3A51DF

$main_border_radius: 4px
$header_bottom_margin: 64px
$itemList_bottom_margin: 12px 0 24px 0
$paragraph_margin: 8px 0 12px 0

$break_large: 1156px
$break_medium: 880px
$break_small: 586px