.section {
  display flex
  justify-content center
  background-color #333
}

.wrapper {
  display: grid
  grid-template-areas: "hotItem items"
  grid-template-columns: repeat(12, 58px)
  grid-column-gap: 24px
}

.phoneCards {
  grid-column: 1 / 13
}